.footer {
    background-color: $grisOscuro;

    .contenedor-footer {
        padding-top: calc($separacion / 2);
    }

    .copyright {
        color: $blanco;
        text-align: center;
        padding-bottom: calc($separacion / 2);

    }
}